main {
  animation: FadeInTop 700ms;

  background: var(--background-gradient);
  border-radius: clamp(4rem, 2rem + 2vw, 15rem);

  padding: clamp(5rem, 2.5rem + 2.5vw, 13.5rem);
}

main h2 {
  display: flex;
  align-items: center;
  gap: 2rem;

  margin-bottom: clamp(2rem, 1rem + 1vw, 5rem);

  font-size: var(--fs-title);

  text-shadow: 0px 0px 10px var(--green);

  text-transform: uppercase !important;
}

main h2 img {
  width: clamp(8rem, 4rem + 4vw, 19.8rem);
  height: clamp(8rem, 4rem + 4vw, 19.8rem);
}

main p {
  margin-bottom: 5rem;

  font-weight: var(--fw-bold);
  font-size: var(--fs-big);

  color: var(--gray);
}

main ul#match-result {
  display: flex;
  flex-direction: column;
  gap: clamp(3rem, 1.5rem + 1.5vw, 6rem);
}

main ul#match-result li {
  animation: FadeInTop 700ms forwards;
  opacity: 0;

  display: flex;
  align-items: center;
  gap: clamp(2rem, 1rem + 1vw, 4.5rem);

  font-weight: 700;
  font-size: var(--fs-medium);

  color: var(--light-gray);
}

main ul#match-result li img {
  width: clamp(3rem, 2.25rem + 2.25vw, 7rem);
  height: clamp(3rem, 2.25rem + 2.25vw, 7rem);
}
